.Measure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #F9F9F9;
}

.Display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

h1 {
  font-size: 3.5rem;
  padding: 2rem;
}

label {
  font-size: 2rem;
  padding: 0.5rem;
}

input[type=number], select {
  color: steelblue;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.Display > p {
  font-size: 2.5rem;
  padding: 2rem;
}
